<a href="https://colab.research.google.com/github/Arijit-Biswas-Anirban/Data_Science_Learning/blob/main/Assignment_1_(Basic_Python).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Practice Problems

### 1. Find the Largest of Two Numbers
**Task:** Given two numbers, find the larger one.  
**Demo Input:**  5 and 6 <br>
**Output:** 6

In [23]:
num1 = 5
num2 = 6

if num1 > num2:
  print(num1)
else:
  print(num2)

6

### 2. Print Numbers from 1 to N
**Task**: Given a number `n`, print all numbers from 1 to `n`. <br>
**Demo Input**: `5`  <br>
**Demo Output**:  1 2 3 4 5

In [24]:
n = 5
for i in range(1,n+1):
  print(i)

1
2
3
4
5

### 3. Check if a Number is Positive or Negative
**Task**: Determine if the input number is positive, negative, or zero.  
**Demo Input**: `-3`  
**Demo Output**: `The number is Negative`

In [25]:
num = -3

if num > 0:
  print("The number is Positive")
elif num < 0:
  print("The number is Negative")
else:
  print("The number is Zero")

The number is Negative

### 4. Calculate the Sum of Digits
**Task**: Given a number, find the sum of its digits.  
**Demo Input**: `123`  
**Demo Output**: `6`  
(Explanation: `1+2+3=6`)

In [26]:
inp = 123
temp = str(inp)
sum = 0
for i in temp:
  tmp = int(i)
  sum += tmp
print(sum)

6

### 5. Find Factorial of a Number
**Task**: Calculate the factorial of a given number.  
**Demo Input**: `4`  
**Demo Output**: `24`  
(Explanation: `4! = 4*3*2*1 = 24`)

In [27]:
def fibonacci(num):
  if num == 0 or num == 1:
    return 1
  else:
    return num * (fibonacci(num-1))

print(fibonacci(4))

24

### 6. Count Occurrences of a Digit
**Task**: Count how many times a specific digit appears max in a number.  
**Demo Input**:  1233321 <br>
**Demo Output**: `3`  <br>
(Explanation: `3` appears 3 times in `1233321`)

In [28]:
inp = 1233321
tmp = str(inp)
count = 0
check = '3'

for i in tmp:
  if i == check:
    count += 1
print(count)

3

### 7. Find the GCD of Two Numbers
**Task**: Find the greatest common divisor (GCD) of two numbers.  
**Demo Input**: 8 and 12 <br>
**Demo Output**: `4`

In [29]:
import math
print(math.gcd(8,12))

4

### 8. Reverse a String
**Task**: Reverse the given string.  
**Demo Input**: `"aiquest"`  
**Demo Output**: `"tseuqia"`

In [30]:
inp = 'aiquest'
reverse_inp = ''.join(reversed(inp))
print(reverse_inp)

tseuqia

### 9. Check Armstrong Number
**Task**: Check if a number is an Armstrong number (the sum of its digits raised to the power of the number of digits equals the number).  
**Demo Input**: `153`  
**Demo Output**: `153 is an Armstrong Number`  
(Explanation: \(1^3 + 5^3 + 3^3 = 153\))

In [31]:
armstrong_number = 153
temp = str(armstrong_number)

sol = 0
for i in temp:
  tmp = int(i)
  sol += tmp**3
if sol == armstrong_number:
  print(f"{armstrong_number} is an Armstrong Number")
else:
  print(f"{armstrong_number} is not an Armstrong Number")

153 is an Armstrong Number

### 10. Generate a Pattern
**Task**: Print a pyramid pattern with `n` rows.  
**Demo input:** 4 <br>
**Output:** You will see the pyramid pattern with 4 rows

In [32]:
n = 4
for i in range(n):
  print(' ' * (n - i - 1) + '*' * (2 * i + 1))

   *
  ***
 *****
*******

# Good Luck!