<a href="https://colab.research.google.com/github/Arijit-Biswas-Anirban/Data_Science_Learning/blob/main/Python_115_Problem_Assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Variable Swap without Temporary Variable

In [1]:
x = 5
y = 10

x, y = y, x

print("x =", x, "y =", y)

x = 10 y = 5

2. Even or Odd

In [2]:
num = int(input("Enter an integer: "))

if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter an integer: 5
Odd

3. String Reverse (function)

In [3]:
def reverse_string(s):
    return s[::-1]

print(reverse_string("Hello"))

olleH

4. Type Conversion (int list → string list)

In [4]:
numbers = [1, 2, 3, 4, 5]
string_list = list(map(str, numbers))

print(string_list)

['1', '2', '3', '4', '5']

5. Temperature Converter (Celsius → Fahrenheit)

In [5]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32

print(f"Temperature in Fahrenheit: {fahrenheit}")

Enter temperature in Celsius: 39
Temperature in Fahrenheit: 102.2

6. Data Type Checker

In [6]:
def check_type(var):
    return type(var).__name__

print(check_type(42))       # int
print(check_type(3.14))     # float
print(check_type("Hello"))  # str

int
float
str

7. String Palindrome

In [7]:
def is_palindrome(s):
    s = s.lower().replace(" ", "")
    return s == s[::-1]

print(is_palindrome("madam"))   # True
print(is_palindrome("hello"))   # False

True
False

8. String Reversal using Slicing

In [8]:
def reverse_string_slicing(s):
    return s[::-1]

print(reverse_string_slicing("Python"))

nohtyP

9. String Concatenation without +

In [9]:
str1 = input("Enter first string: ")
str2 = input("Enter second string: ")

result = "{}{}".format(str1, str2)
print(result)

Enter first string: ha
Enter second string: ah
haah

10. Typecasting Challenge

In [11]:
a = '100'
b = 25
c = '10.5'

step1 = int(a) + b

step2 = step1 - float(c)

final_result = str(step2) + " is the answer"

print(final_result)

114.5 is the answer

11. Positive, Negative, or Zero

In [13]:
num = float(input("Enter a number: "))
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Enter a number: 4
Positive

12. Largest of Three Numbers

In [14]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))

if a >= b and a >= c:
    print("Largest:", a)
elif b >= a and b >= c:
    print("Largest:", b)
else:
    print("Largest:", c)

Enter first number: 4
Enter second number: 5
Enter third number: 6
Largest: 6.0

13. Leap Year Checker

In [15]:
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap year")
else:
    print("Not a leap year")

Enter a year: 2022
Not a leap year

14. Grades Classification

In [17]:
percentage = float(input("Enter percentage: "))

if percentage >= 80:
    print("A+")
elif percentage >= 70:
    print("A")
elif percentage >= 60:
    print("B")
elif percentage >= 50:
    print("C")
else:
    print("Fail")

Enter percentage: 67
B

15. Vowel or Consonant

In [18]:
ch = input("Enter a single character: ").lower()
if ch in 'aeiou':
    print("Vowel")
else:
    print("Consonant")

Enter a single character: s
Consonant

16. Time Classification

In [19]:
hour = int(input("Enter hour (0-23): "))

if 5 <= hour < 12:
    print("Good Morning")
elif 12 <= hour < 17:
    print("Good Afternoon")
elif 17 <= hour < 21:
    print("Good Evening")
else:
    print("Good Night")

Enter hour (0-23): 12
Good Afternoon

17. Triangle Type Checker

In [20]:
a = float(input("Enter first side: "))
b = float(input("Enter second side: "))
c = float(input("Enter third side: "))

if a == b == c:
    print("Equilateral")
elif a == b or b == c or a == c:
    print("Isosceles")
else:
    print("Scalene")

Enter first side: 2
Enter second side: 4
Enter third side: 5
Scalene

18. Quadratic Equation Solver

In [21]:
import math

a = float(input("Enter a: "))
b = float(input("Enter b: "))
c = float(input("Enter c: "))

discriminant = b**2 - 4*a*c

if discriminant > 0:
    root1 = (-b + math.sqrt(discriminant)) / (2*a)
    root2 = (-b - math.sqrt(discriminant)) / (2*a)
    print("Roots:", root1, "and", root2)
elif discriminant == 0:
    root = -b / (2*a)
    print("Root:", root)
else:
    print("Complex roots")

Enter a: 3
Enter b: 4
Enter c: 5
Complex roots

19. Number Ranges

In [22]:
num = int(input("Enter an integer: "))

if 0 <= num <= 50:
    print("Range: 0-50")
elif 51 <= num <= 100:
    print("Range: 51-100")
elif 101 <= num <= 150:
    print("Range: 101-150")
else:
    print("Above 150")

Enter an integer: 44
Range: 0-50

20. Sum of N Numbers

In [23]:
N = int(input("Enter N: "))
total = 0
for i in range(1, N+1):
    total += i
print("Sum:", total)

Enter N: 6
Sum: 21

21. Factorial Calculator

In [24]:
N = int(input("Enter N: "))
fact = 1
while N > 0:
    fact *= N
    N -= 1
print("Factorial:", fact)

Enter N: 5
Factorial: 120

22. Table of a Number

In [ ]:
N = int(input("Enter number: "))
for i in range(1, 11):
    print(f"{N} x {i} = {N*i}")

23. Count Digits in a Number

In [ ]:
N = int(input("Enter number: "))
count = 0
while N != 0:
    count += 1
    N //= 10
print("Digits:", count)

24. Fibonacci Sequence

In [ ]:
N = int(input("Enter limit: "))
a, b = 0, 1
for _ in range(N):
    print(a, end=" ")
    a, b = b, a + b

25. Sum of Even Numbers

In [ ]:
N = int(input("Enter N: "))
total = 0
i = 1
while i <= N:
    if i % 2 == 0:
        total += i
    i += 1
print("Sum of even numbers:", total)

26. Print Patterns

In [ ]:
rows = 5
print("Right-angled triangle:")
for i in range(1, rows+1):
    print("*" * i)

print("\nInverted right-angled triangle:")
for i in range(rows, 0, -1):
    print("*" * i)

27. Prime Number Checker

In [ ]:
N = int(input("Enter number: "))
if N > 1:
    is_prime = True
    i = 2
    while i <= N//2:
        if N % i == 0:
            is_prime = False
            break
        i += 1
    print("Prime" if is_prime else "Not prime")
else:
    print("Not prime")

28. List Manipulation (sum, avg, max, min)

In [25]:
numbers = [4, 7, 1, 9, 3]
total = 0
for num in numbers:
    total += num
avg = total / len(numbers)
print("Sum:", total)
print("Average:", avg)
print("Max:", max(numbers))
print("Min:", min(numbers))

Sum: 24
Average: 4.8
Max: 9
Min: 1

29. Reverse String (while loop)

In [27]:
s = input("Enter string: ")
rev = ""
i = len(s) - 1
while i >= 0:
    rev += s[i]
    i -= 1
print("Reversed:", rev)

Enter string: dg
Reversed: gd

30. Multiplication Table (1 to 10)

In [28]:
for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i} x {j} = {i*j}", end="\t")
    print()

1 x 1 = 1	1 x 2 = 2	1 x 3 = 3	1 x 4 = 4	1 x 5 = 5	1 x 6 = 6	1 x 7 = 7	1 x 8 = 8	1 x 9 = 9	1 x 10 = 10
2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10	2 x 6 = 12	2 x 7 = 14	2 x 8 = 16	2 x 9 = 18	2 x 10 = 20
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15	3 x 6 = 18	3 x 7 = 21	3 x 8 = 24	3 x 9 = 27	3 x 10 = 30
4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20	4 x 6 = 24	4 x 7 = 28	4 x 8 = 32	4 x 9 = 36	4 x 10 = 40
5 x 1 = 5	5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25	5 x 6 = 30	5 x 7 = 35	5 x 8 = 40	5 x 9 = 45	5 x 10 = 50
6 x 1 = 6	6 x 2 = 12	6 x 3 = 18	6 x 4 = 24	6 x 5 = 30	6 x 6 = 36	6 x 7 = 42	6 x 8 = 48	6 x 9 = 54	6 x 10 = 60
7 x 1 = 7	7 x 2 = 14	7 x 3 = 21	7 x 4 = 28	7 x 5 = 35	7 x 6 = 42	7 x 7 = 49	7 x 8 = 56	7 x 9 = 63	7 x 10 = 70
8 x 1 = 8	8 x 2 = 16	8 x 3 = 24	8 x 4 = 32	8 x 5 = 40	8 x 6 = 48	8 x 7 = 56	8 x 8 = 64	8 x 9 = 72	8 x 10 = 80
9 x 1 = 9	9 x 2 = 18	9 x 3 = 27	9 x 4 = 36	9 x 5 = 45	9 x 6 = 54	9 x 7 = 63	9 x 8 = 72	9 x 9 = 81	9 x 10 = 90
10 x 1 = 10	10 x 2 = 20	10 x 3 = 30	10 x 4 = 40	10 x 5 = 50	10 x 6 = 60	10 x 7 = 70	10 x 8 = 80	10 x 9 = 90	10 x 10 = 100